
.admin-container{
  min-height: 80vh;
}

.table{
  margin-bottom: 5rem;
}

.input{
  width: 100%;
  height: 100%;
}

.form-header-button{
  margin-right: 8px;
}

.customtablecontainer {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;  
} 

.filter-input {
  width: auto; 
  max-width: 100px; /* Adjust as needed */
  box-sizing: border-box;  
}
.filter-input-email {
  width: auto; 
  max-width: 170px; /* Adjust as needed */
  box-sizing: border-box; 
}

.sortHeaderContainer {
  display: flex;
  flex-direction: column; /* Stack vertically */
  width: 100%;  
}

.sortHeaderTop {
  display: flex;
  justify-content: space-between; /* Space between label and sort icon */
  align-items: center; 
}

.sortHeader {
  cursor: pointer;
  user-select: none; /* Prevents text selection */
}

.sortHeader::after {
  margin-left: 10px; 
  content: '⇅';  
}

.sortHeader.sortAsc::after {
  content: '▲';  
}

.sortHeader.sortDesc::after {
  content: '▼';  
}

.textarea-notes {
  height: 200px;
  overflow-y: auto; /* Ensure it's always scrollable vertically */ 
}
 
.notes-modal {  
  max-width: '80vw';
}

.modal-header-color {
  background-color: #512888;  
  color: white;
  border: none;

}

.modal-body-color {
  background-color: #a7a7a7;  
  border: none;
} 
.modal-footer-color {
  background-color: #000;  
  border: none;
} 

.review-table-header {
  background-color: #512888;  
  color: white;
}

.notes-border-red {
  border: 2px solid red;
  background-color: red;  
  color: white; 
}

.notesLabel { 
  font-weight: bold;
  background-color: transparent;
  border: none; 
}

.notes-textarea {
  width: 100%;
}

.spacer {
  height: 20px; 
}

.in-progress {
  background-color: #f0ad4e;  
}

.waiver-requested {
  background-color: #d9534f;  
}

.custom-review-table {
  width: 100%;
}
.status-dars-container {
  display: flex;
  justify-content: space-between;  
  align-items: flex-start;  
}

.status-group {
  flex: 1;  
  margin-right: 10px;  
}

.dars-group {
  margin-left: auto; 
}

