.custom-message { 
  background: #d1d1d1;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-bottom: 20px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  border: 3px solid #512888;
} 

.custom-message > p{ 
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  margin-top: 20px;
  padding-right: 0;
  margin-right: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #BF8CF7;  
}
 
.btn-submit {
  background-color: #512888;  
  color: white;  
  border: none;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

.btn-submit:hover {
  background-color: #BF8CF7;  
  cursor: pointer;
}

.input{
  width: 100%;
  height: 100%;
}

.doc{
  background-color: #d1d1d1;
  margin-bottom: 3rem;
  border: solid 3px #757575;
  border-radius: 2rem;
}

@media (max-width: 768px) {
}