.box-style, .apply-box-style {
  border: 1px solid #ddd;  
  padding: 15px;  
  border: 2px solid #512888;
  margin-bottom: 15px;  
  box-shadow: 5px 4px 8px 0 #512888;
  border-radius: 5px;  
  background-color: #d1d1d1;
}

.status-box-style{
  border: 1px solid #ddd;  
  padding: 15px;  
  border: 2px solid #512888;
  margin-bottom: 15px;  
  box-shadow: 5px 4px 8px 0 #512888;
  border-radius: 5px;  
  background-color: #d1d1d1;
}

.btn-apply {
  background-color: #512888;  
  color: white;  
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.btn-apply:hover {
  background-color: #BF8CF7;  
}

.status-h2-style {
  color: #512888; 
  padding: 10px 0; 
  margin: 0 auto; 
  width: 100%;  
}
 
.h2-style {
  text-align: center;  
  color: #512888; 
  padding: 10px 0; 
  margin: 0 auto; 
  width: 100%;  
}

.apply-box-style p {
  font-size: 1.25rem;  
  text-align: center;
  margin: 0 auto;  
}

.custom-list{
  list-style-position: inside; 
  text-align: left;
  padding: 20px;
}